body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.main-container{
    
    scale: 1.4;
    width: 300px; 
    height: 400px; 
    background-image: url('containerbg.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.logoclass{
    display: flex;
    position: absolute;
    scale: 0.8;
    padding-bottom: 70%;
    padding-top: 5%;
    z-index: 1;
}

.main-container p{
    padding: 20px;
    color: white;
    padding-top: 40px;
}

#contact-section {
    
    color: #f0f0f0;
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    position: absolute;
    padding-top: 0;
    
    
}

#contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff6b6b;
}

#contact-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-style: italic;
}

.contact-methods {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.method {
    font-size: 1em;
    color: #999;
    font-weight: bold;
    
}